<% provide(:title, 'Brabeeba Wang') %>
<div class="container-fluid">
	<div class="grid">
		<div class="row-fluid">
			<div class="span3">
				<div class="profile-image">
					<img src="http://img42.com/oJg5y+" alt="Responsive image" width="100%" height="100%" class="img-circle" class="img-responsive">
				</div>
				<div class="row-fluid" style="padding-top: 10px; padding-bottom: 10px">
					<div class="span3" align="center" style="padding-top: 3px">
						<a href="https://twitter.com/"><img src="https://g.twimg.com/Twitter_logo_blue.png" alt="Responsive image" width=30px height=30px></a>
					</div>
					<div class="span3" align="center" style="padding-top: 3px">
						<a href="https://facebook.com/"><img src="http://www.youtube.com/yt/brand/media/image/YouTube-icon-full_color.png" alt="Responsive image" width=30px height=30px></a>
					</div>
					<div class="span3" align="center">
						<a href="https://soundcloud.com/"><img src="https://lh4.ggpht.com/2szV51du96rRZhQydA2gKYHUUxyo_cPmRItgPTg2i-1yD1sly7hhkOCSn36KVU_sMhw=w300" alt="Responsive image" width=30px height=30px></a>
					</div>
					<div class="span3" align="center">
						<a href="https://gmail.com/"><img src="http://simpleicon.com/wp-content/uploads/mail-1.png" alt="Responsive image" width=30px height=30px></a>
					</div>
				</div>
			</div>
			<div class="span8">
				<h1>Brabeeba Wang</h1>
				<p>
					Instruments: Piano<br>
					Genres: Classical<br>
					Description
				</p>
			</div>
		</div>
		<div class="video" align="center">
			<iframe width="700" height="400" src="//www.youtube.com/embed/v6cQ11-qimY" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>


