<% provide(:title, 'Profile') %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="profile-picture">
				<div style="width: 33%; height 100%; overflow: hidden">
					<img src="http://img42.com/QVdud+" alt="Responsive image" width="100%" height="100%" class="img-circle" class="img-responsive">
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<h1>Nancy Zhou</h1>
			<ul>
				<li>Nancy Zhou</li>
			</ul>
		</div>
	</div>
	<div class="row">
</div>
