<% provide(:title, 'Venues') %>
<h1>Venues</h1>
<div class="container-fluid">
	<div class="grid">
		<div class="row">
			<div class="span4">
				<h3>House of Blues</h3>
				<img src="http://www.livenationpremiumseats.com/images/232/620/400/image.jpg" width="100%" height="100%" class="img-responsive">
			</div>
			<div class="span4">
				<h3>House of Blues</h3>
				<img src="http://www.livenationpremiumseats.com/images/232/620/400/image.jpg" width="100%" height="100%" class="img-responsive">
			</div>
			<div class="span4">
				<h3>House of Blues</h3>
				<img src="http://www.livenationpremiumseats.com/images/232/620/400/image.jpg" width="100%" height="100%" class="img-responsive">
			</div>
		</div>
	</div>
</div>
